.view {
  background: url("http://www.ushistory.org/march/images/surrender.jpg") no-repeat center center;
  background-size: cover;
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #B28BA7;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #B28BA7;
  }
}

html,
body,
header,
.view {
  height: 100%;
}
